<div class="reset-wrapper">
  <div class="reset-center">
    <div class="reset-card">
      <div class="reset-body">

        <h3 class="reset-title">Reset Password 🔐</h3>
        <p class="reset-subtitle">Enter your new password</p>

        <!-- Server Error -->
        <div *ngIf="serverError" class="reset-alert">
          {{ serverError }}
        </div>

        <form [formGroup]="resetForm" (ngSubmit)="submit()">

          <!-- New Password -->
          <div class="reset-form-group">
            <label>New Password</label>

            <div class="reset-password-wrapper">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="reset-input"
                formControlName="password"
                placeholder="Enter new password"
              />

              <span
                class="reset-toggle-password"
                (click)="showPassword = !showPassword">
                <span class="material-icons">
                  {{ showPassword ? 'visibility_off' : 'visibility' }}
                </span>
              </span>
            </div>

            <small class="reset-error-text"
              *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.invalid">
              Password must be at least 6 characters
            </small>
          </div>

          <!-- Confirm Password -->
          <div class="reset-form-group">
            <label>Confirm Password</label>

            <div class="reset-password-wrapper">
              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                class="reset-input"
                formControlName="confirmPassword"
                placeholder="Confirm password"
              />

              <span
                class="reset-toggle-password"
                (click)="showConfirmPassword = !showConfirmPassword">
                <span class="material-icons">
                  {{ showConfirmPassword ? 'visibility_off' : 'visibility' }}
                </span>
              </span>
            </div>

            <small class="reset-error-text"
              *ngIf="resetForm.hasError('passwordMismatch') &&
                     resetForm.get('confirmPassword')?.touched">
              Passwords do not match
            </small>
          </div>

          <!-- Submit -->
          <button
            type="submit"
            class="reset-btn"
            [disabled]="resetForm.invalid || loading">

            <span *ngIf="!loading">Reset Password</span>
            <span *ngIf="loading" class="loader"></span>

          </button>

        </form>

      </div>
    </div>
  </div>
</div>
