<div class="dashboard-wrapper" [class.sidebar-collapsed]="isSidebarCollapsed">
  <app-sidebar
    class="sidebar"
    [class.mobile-open]="isMobileOpen"
    (linkClicked)="closeMobileSidebar()"
  >
  </app-sidebar>

  <div class="overlay" *ngIf="isMobileOpen" (click)="toggleMobile()"></div>

  <div class="main-content">
    <app-navbar (toggleSidebar)="toggleSidebar()" (toggleMobile)="toggleMobile()"> </app-navbar>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
